@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Kanit', sans-serif;
}
html,body{
    height: 100%;
}
body{
    
    background-color: #EDF5FF;
}
html.dark body{
    background: linear-gradient(90deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
}
.toggleTheme:hover .activeTheme{
    box-shadow: rgb(118 69 217) 0px 0px 0px 4px, rgb(118 69 217 / 60%) 0px 0px 0px;
}
.lightT{
 left: 4px;
}
.selectedHeader{
    @apply text-pActive-text font-[600];
   
}
.chartHoursActive{
    @apply bg-pBlue text-white rounded-2xl;
}
.selectedHeader::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: -3px;
    width: calc( 100% + 6px);
    height: 4px;
    background: rgb(31, 199, 212);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
   
}
.chartContainer{
    width: calc(100% + 100px);
    transform: translateX(-50px);
}
@media only screen and (max-width : 639px){
    .chartContainer{
        margin-top: 30px;
        transform: translateX(-70px);
    }
}
.chartWrap{
    width: calc(80% - 206px);
}
.connectedWallet{
    background-color: rgb(239, 244, 245);
    color: rgb(40, 13, 95);
}
html.dark .exportImg{
    filter: invert(89%) sepia(40%) saturate(3007%) hue-rotate(187deg) brightness(87%) contrast(88%);
}html.dark .swapImg{
    filter: invert(89%) sepia(40%) saturate(3007%) hue-rotate(187deg) brightness(87%) contrast(88%);
}
.walletStatImg{
    filter: invert(89%) sepia(40%) saturate(3007%) hue-rotate(187deg) brightness(87%) contrast(88%);
}
html.dark .walletStatImg{
    filter: none;
}
.w-disconnect img{
    filter: brightness(30%);

}
html.dark .w-disconnect img{
    filter: none;

}
html.dark .chooseTokenBtn{
    filter: invert(89%) sepia(40%) saturate(3007%) hue-rotate(187deg) brightness(87%) contrast(88%);

}
.active{
    display: block;
}
.searchTokenInp:focus{
   box-shadow :  rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px !important  ;

}

.sk-circle {
    filter: brightness(0) invert(1);

    
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  html.dark .tokenItem:hover{
    background: rgb(8, 6, 11);
  }
 